<p class="dropdown-option" id="titleCaption">Cover Screen: 1 image</p>
<p class="dropdown-option" id="loadSingleImage">Full Screen: 1 image</p>
<p class="dropdown-option" id="loadTwoImages">Split Screen: 2 images</p>
<p class="dropdown-option" id="masonify">Masonry: Many images</p>
