#experience-title{
  font-size: 5em;
  margin-top: 20px;
  margin-bottom: 60px;
}

#experience-box{
  font-family: sans-serif;
  color: white;
  margin: 0 auto;
  width: 800px;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
  padding: 35px;
  border-radius: 4%;
}

#experience-box a{
  color: white;
  text-decoration: none;
}

form.experience-form{
  margin-top: -30px;
  padding-sides: 20px;
}

.experience-form{
  margin-top: -30px;
}

.experience-form-input{
  text-align: center;
  background-color: #ECF0F1;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  margin:10px;
  padding: 10px 0;
  transition: border .5s;
  color: black;
}


.experience-form-input-title {
  width: 535px;
}
.experience-form-input-description {
  height:100px;
  width: 535px;
}

.experience-form-input-start-date{
  width:245px;
  margin-right: 35px;
}

.experience-form-input-end-date{
  width:245px;
}

/* Image edit form */

.edit-image-container {
  width: 50%;
  margin: 20px auto;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.edit-image {
  max-height: 100%;
  max-width: 100%;
}

.click-to-edit {
  display: flex;
  align-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
}

.click-to-edit-text {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.edit-image-form {  
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 50px;
}