@-webkit-keyframes drift {
  0% {
    -webkit-transform: translateX(-750px);
    opacity: 0;
  }
  25% {
    -webkit-transform: translateX(-750px);
    opacity: 0;
    -webkit-animation-timing-function: ease-out;
  }
  40%{
    -webkit-transform: translateX(100px);
    opacity: 1;
    -webkit-animation-timing-function: linear;
  }
  91% {
    -webkit-transform: translateX(200px);
    opacity: 1;
    -webkit-animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(750px);
    opacity: 0;
  }
}

#some-text {
  text-align: center;
  margin: auto;
  position: relative;
  top: -400px;
  font-size: 7em;
  text-transform: uppercase;

  letter-spacing: 4px;
  line-height: 1;

  -webkit-animation-name: drift;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-duration: 4s;
  -webkit-animation-delay: 1s;
  -webkit-transform: translate(-750px);
}
