<div id="experience-box" class="dialog-box">
  <div class="close-button">&#10005</div>
  <h1 id="experience-title">Edit Captions</h1>

  <% @experience.assets.each do |asset| %>
    <%= render partial: 'assets/edit', locals: { asset: asset } %>
  <% end %>



</div>



