<div id="fullpage">
	<% @assets.each_with_index do |asset,index| %>
	    <div class="section"> <img id="asset<%=index+1%>" class="asset-image" src="<%= asset.direct_upload_url %>"> </div>
	<% end %>
</div>

<span id="assets-length" display="none">
	<%= @assets.length %>
</span>

<script type="text/javascript">
	$(document).ready(function() {
		var assList = [];
		var assLength = $("#assets-length").text();
		for ( var i = 0 ; i < assLength ; i ++) {
			assList.push("x")
		};
		$('#fullpage').fullpage({
				anchors: assList,
				navigation: true,
				navigationPosition: 'right',
				navigationTooltips: assList,
				css3: true,
				verticalCentered: true,
				scrollOverflow: true,
				'afterLoad': function(anchorLink, index){
					if(index == 5){
						console.log("this is 2")
						$("#asset21").addClass('active2')
					}
				},

		});
	});
</script>