<ul id="menu"></ul>
	<div id="content-wrapper">
		<div id="example-wrapper">
			<div class="scrollContent">
				<section id="titlechart">
					<div id="description">
						<h1 class="badge gsap">Responsive Duration</h1>
						<h2>Scene duration depending on viewport size.</h2>
						<p>
							With some responsive layouts you might want the scene to take exactly as long as the height of the viewport is.
						</p>
						<p>
							For this purpose ScrollMagic conveniently lets you define percentage values as the scene duration. So if you set it to <code>"100%"</code> the scene will always have the same duration as the height of the viewport (or the width for horizontally scrolling containers).
						</p>
						<a href="#" class="viewsource">view source</a>
					</div>
				</section>
				<section class="demo fullheight responsiveDuration">
					<div class="spacer s0" id="trigger"></div>
					
					<img id="animate" width="600" id="asset0" src="<%= @assets[0].direct_upload_url %>">
					<script>
						// init controller
						var controller = new ScrollMagic.Controller();

						// build tween
						var tween = TweenMax.to("#animate", 0.5, {scale: 1.3, repeat: 5, yoyo: true});

						// build scene and set duration to window height
						var scene = new ScrollMagic.Scene({triggerElement: "#trigger", duration: "100%"})
										.setTween(tween)
										.addIndicators() // add indicators (requires plugin)
										.addTo(controller);
					</script>
				</section>
				<div class="spacer s_viewport"></div>
			</div>
		</div>
	</div>
