<div id="asset-upload-box">
  <h1 id="asset-upload-title">Upload Images</h1>
  <%= form_for(:asset, multipart: true, as: :asset, html: {id: 'directUpload', class: 'dropzone'}) do |f| %>
  <% end %>
</div>
