.form-input:focus, .experience-form-input:focus {
  box-shadow: -2px -2px 4px #00FFFF, -2px 2px 4px #00FFFF, 2px -2px 4px #00FFFF, 2px 2px 4px #00FFFF;
}

.form-input {
  color: black;
  text-align: center;
  background-color: #ECF0F1;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  margin:10px;
  width: 250px;
  transition: border .5s;
}

.form-submit {
  border: 2px solid transparent;
  background: transparent;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 0;
  border-radius: 3px;
  transition: .5s;
  width: 255px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.form-submit:hover {
  background-color: black;
  cursor: pointer;
  box-shadow: -2px -2px 4px #00FFFF, -2px 2px 4px #00FFFF, 2px -2px 4px #00FFFF, 2px 2px 4px #00FFFF;
  color: #00FFFF;
}

/*Everything below is for the close buttons on forms*/

.close-button {
  margin-left: 98%px;
  background-color: black;
  border-radius: 25px;
  width: 40px;
  height: 40px;
  border: 3px solid white;
  font-size: 24px;
  padding-left: 0px;
  float: right;
  vertical-align: center;
}

.close-button:hover {
  color: #00FFFF !important;
  border: 3px solid #00FFFF;
  opacity: 0.8;
  transition: all .3s;
  cursor:pointer;
}

.transparent-input {
  background-color: transparent;
  color: white;
  border: none;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.transparent-input:focus {
  outline: none;
}

.caption-submit {
  border: 2px solid transparent;
  background: transparent;
  color: #ffffff;
  font-size: 16px;
  border-radius: 3px;
  transition: .5s;
  width: 100px;
}

.caption-submit:hover {
  background-color: black;
  cursor: pointer;
  box-shadow: -2px -2px 4px #00FFFF, -2px 2px 4px #00FFFF, 2px -2px 4px #00FFFF, 2px 2px 4px #00FFFF;
  color: #00FFFF;
}