.form-input:focus, .experience-form-input:focus {
  box-shadow: -2px -2px 4px #00FFFF, -2px 2px 4px #00FFFF, 2px -2px 4px #00FFFF, 2px 2px 4px #00FFFF;
}

.form-input {
  color: black;
  text-align: center;
  background-color: #ECF0F1;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  margin:10px;
  width: 250px;
  transition: border .5s;
}

.form-submit {
  border: 2px solid transparent;
  background: transparent;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 0;
  border-radius: 3px;
  transition: .5s;
  width: 255px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.form-submit:hover {
  background-color: black;
  cursor: pointer;
  box-shadow: -2px -2px 4px #00FFFF, -2px 2px 4px #00FFFF, 2px -2px 4px #00FFFF, 2px 2px 4px #00FFFF;
  color: #00FFFF;
}
