#main-menu {
  position: absolute;
  left: 100px;
  font-family: sans-serif;
  z-index: 1;
}

#main-menu li {
    margin: 85px 0;
    left: -550px;
    position: relative;
    display: none;
  }

#main-menu a {
    color: #FFF;
    text-shadow: 2px 2px 0 #000;
    text-decoration: none;
    font-size: 3.5em;

}

.hamb {
  position: absolute;
  left: 120px;
  top: 20px;
  font-size: 2.5em;
  z-index: 1;
  a {
    color: #FFF;
    text-decoration: none;
  }
}

#menu-overlay {
  left: 100px;
  width: 270px;
  height: 100%;
  opacity: .9;
  position: fixed;
  display: none;
  z-index: 1;
  background: rgba(0, 0, 0, .5);
}
