#user-registration-title{
  font-size: 5em;
  margin-top: 20px;
  margin-bottom: 60px;
}

#user-registration-holder{
  margin-top: 10%;
}

#user-registration-box{
  font-family: sans-serif;
  color: white;
  width: 510px;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
  padding: 35px;
  border-radius: 4%;
  margin: 0 auto;
}

#user-registration-box a{
  color: white;
  text-decoration: none;
}
