<li><a class="logged-in" id="create" href='#/create'>Create</a></li>
<li><a class="logged-in" id="manage" href='#/manage'>Manage</a></li>
<li><a class="logged-in" id="captions" href='#/captions'>Captions</a></li>
<li><a class="logged-in" id="logout" href='#/logout'>Logout</a></li>
