<!DOCTYPE html>
<html>
<head>
  <title>Ambrosia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

  <nav>
    <div class='hamb'>
      <a href='#'><i class='fa fa-bars'></i></a>
    </div>
    <% 60.times do %>
      <div class="experience-bubble round-button-circle"></div>
    <% end %>
  </nav>

  <!-- Foldable navbar -->
  <div id='main-menu'>
    <ul>
      <li><a href='#?'>Create</a></li>
      <li><a href='#?'>Manage</a></li>
      <li><a href='#/login'>Login</a></li>
      <li><a href='#?'>Logout</a></li>
    </ul>
  </div>

  <div id='menu-overlay'></div>


  <main class="background-images"></main>

</body>
</html>
