<!DOCTYPE html>
<html>
<head>
  <title>Ambrosia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <% 30.times do %>
    <div class="experience-bubble red"></div>
    <div class="experience-bubble green"></div>
    <% end %>
  </nav>

  <!-- Foldable navbar -->
  <div role='navigation' id='section-nav'>
    <ul>
      <li><a href='#?'>Create</a></li>
      <li><a href='#?'>Edit</a></li>
      <li><a href='#?'>Logout</a></li>
    </ul>
  </div>
  <div class='hamb'>
    <a href='#'><i class='fa fa-bars'></i></a>
  </div>
  <div id='overlay'></div>


  <main>stuff</main>

</body>
</html>
