<!DOCTYPE html>
<html>
<head>
  <title>Ambrosia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div class="box red"></div>
    <div class="box green"></div>
    <div class="box red"></div>
    <div class="box green"></div>
    <div class="box red"></div>
    <div class="box green"></div>
    <div class="box red"></div>
    <div class="box green"></div>
    <div class="box red"></div>
    <div class="box green"></div>
    <div class="box red"></div>
    <div class="box green"></div>
    <div class="box red"></div>
    <div class="box green"></div>
    <div class="box red"></div>
    <div class="box green"></div>
    <div class="box red"></div>
    <div class="box green"></div>
    <div class="box red"></div>
    <div class="box green"></div>
       <div class="box red"></div>
    <div class="box green"></div>
    <div class="box red"></div>
    <div class="box green"></div>
    <div class="box red"></div>
    <div class="box green"></div>
    <div class="box red"></div>
    <div class="box green"></div>
    <div class="box red"></div>
    <div class="box green"></div>
    <div class="box red"></div>
    <div class="box green"></div>
    <div class="box red"></div>
    <div class="box green"></div>
    <div class="box red"></div>
    <div class="box green"></div>
       <div class="box red"></div>
    <div class="box green"></div>
    <div class="box red"></div>
    <div class="box green"></div>
    <div class="box red"></div>
    <div class="box green"></div>
    <div class="box red"></div>
    <div class="box green"></div>
    <div class="box red"></div>
    <div class="box green"></div>
    <div class="box red"></div>
    <div class="box green"></div>
    <div class="box red"></div>
    <div class="box green"></div>
    <div class="box red"></div>
    <div class="box green"></div>
       <div class="box red"></div>
    <div class="box green"></div>
    <div class="box red"></div>
    <div class="box green"></div>
    <div class="box red"></div>
    <div class="box green"></div>
    <div class="box red"></div>
    <div class="box green"></div>
    <div class="box red"></div>
    <div class="box green"></div>
    <div class="box red"></div>
    <div class="box green"></div>
    <div class="box red"></div>
    <div class="box green"></div>
    <div class="box red"></div>
    <div class="box green"></div>
  </nav>
  <main>stuff</main>

</body>
</html>
